name: Get recent blog posts
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  ci:
    name: Update Readme.md with recent posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          date_format: mm/dd/yy
          template: $newline - [$title]($url) - [$date]
          feed_list: "https://www.techblog.sh/feed.xml"



